.navigation {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-right: 17px;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link:active {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}