/* header */
.header {
  min-height: 74px;
  width: 100%;
  background-color: #202020;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header_color_blue {
  background-color: #073042;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__container {
  width: 1280px;
  padding: 0 70px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 44px;
}

.header-login__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header-login__btn {
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  border-radius: 3px;
  border: transparent;
  margin-left: 30px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.5s ease-out;
}

.header-login__btn:hover {
  background-color: #83E9B1;
}

.header-account {
  display: flex;
  align-items: center;
}

.header-burger__account {
  display: flex;
  align-items: center;
  z-index: 3;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  padding: 617px 0;
}

.header-login__link,
.header-account__link{
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  margin-right: 7px;
}

.header-burger__account-link{
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.header-account__img {
  border-radius: 50%;
  background-color: #313131;
  padding: 9px;
}

.header-burger__account-img {
  border-radius: 50%;
  background-color: #313131;
  padding: 9px;
  margin-left: 6px;
  margin-top: 1px;
}

.header-burger {
  display: none;
}

.header-burger__button {
  width: 44px;
  height: 44px;
  background-image: url('../../images/burger.svg');
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-burger-menu__nav {
  width: 520px;
  height: 100vh;
  position: absolute;
  padding-top: 159px;
  right: 0;
  top: 0;
  background-color: #202020;
  z-index: 1;
}

.header-burger-menu__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.header-burger-menu__item {
  margin-bottom: 27px;
}
.header-burger-menu__item:last-child {
  margin-bottom: 0;
}

.header-burger-menu__link {
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  padding-bottom: 1px;
  display: inline-block;
  line-height: 20px;
  padding-bottom: 3px;
  min-height: 19px;
} 

.header-burger-menu__link_active {
  border-bottom: 2px solid #fff;
}

.header-burger__close {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 27px;
  top: 25px;
  z-index: 3;
  background-color: transparent;
  border: none;
  background-image: url('../../images/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header-burger-menu {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}

.header-burger-menu_off {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-burger {
    display: block;
  }
  .header__container {
    padding: 0 30px;
  }
  #account {
    display: none;
  }
  .header__inner {
    justify-content: end;
  }
}

@media screen and (max-width: 520px) {
  .header-burger__button {
    width: 39px;
    background-size: contain;
  }
  .header-login__btn {
    width: 54px;
    height: 26px;
    font-size: 10px;
    margin-top: 7px;
    margin-left: 14px;
  }
  .header-login__link {
    font-size: 10px;
    margin-right: 0;
  }
  .header-burger-menu__nav {
    width: 100%;
  }
  .header-burger__account {
    padding: 450px 0;
  }
  .header-burger__close {
    right: 19px;
    top: 33px;
  }
  .header-burger-menu__item {
    margin-bottom: 18px;
  }
  .header-burger__account {
    padding: 436px 0;
  }
  .header-burger-menu__link {
    padding-bottom: 8px;
  }
}
